body {
  margin: 0;
}

h2 {
  font-size: 35px;
  margin-right: 5px;
}

.container {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  background: url("./images/bg-top.svg") top right no-repeat,
    url("./images/bg-bottom.svg") bottom left no-repeat;
  background-color: hsl(240, 78%, 98%);
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-left: 10px;
}

.price {
  margin-right: 20px;
  margin-top: 80px;
  color: hsl(233, 16%, 38%);
  font-size: 30px;
  font-weight: bold;
}

.switch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: hsl(234, 14%, 74%);
  margin-left: 63px;
  position: relative;
  width: 45px;
  height: 25px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0 27px 0 27px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    hsl(237, 63%, 64%),
    hsl(234, 15%, 87%)
  );
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-image: linear-gradient(
    to right,
    hsl(234, 15%, 87%),
    hsl(237, 63%, 64%)
  );
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(236, 72%, 79%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.Annually {
  margin-right: 20px;
}
.Monthly {
  margin-right: 8px;
}

.allbox {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.box {
  margin-top: 40px;
  font-weight: 700;
  background-color: white;
  height: 450px;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 13px 0;
  border-radius: 6%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 10px 5px;
  color:  hsl(233, 13%, 49%)
}
.priceMoney {
  color: hsl(232, 13%, 33%);
  font-size: 50px;
  font-weight: bold;
}

.box_professional {
  margin-top: 15px;
  background-color: white;
  height: 510px;
  width: 440px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 13px 0;
  border-radius: 6%;
  box-shadow: rgba(4, 4, 130, 0.2) 0px 0px 10px 5px;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}

.priceMoneyProfessional {
  font-size: 50px;
  font-weight: bold;
}

.dollar {
  display: flex;
  align-items: center;
  margin-top: -20px;
  color: hsl(232, 13%, 33%);
}

.dollar_Professional{
  display: flex;
  align-items: center;
  margin-top: -20px;
  color: hsl(225, 18%, 96%);
}

.button {
  margin-top: 12px;
  /* border: none; */
  border: 2px solid rgb(152, 152, 244);
  color: hsl(237, 63%, 64%);
  font-size: 13px;
  font-weight: bold;
  padding: 12px 70px 12px 70px;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover{
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-color: white;
  color: white;
}

.button_Profession {
  margin-top: 12px;
  border: 2px solid rgb(152, 152, 244);
  color: hsl(237, 63%, 64%);
  font-size: 13px;
  font-weight: bold;
  padding: 12px 70px 12px 70px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button_Profession:hover {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-color: white;
  color: white;
}

.pbutton {
  background-image: linear-gradient(to right, white, white);
  color: hsl(236, 72%, 79%);
  font-size: 11px;
  font-weight: bold;
}

.line {
  border-top: 1px solid hsl(233, 13%, 49%);
  width: 80%;
  opacity: 40%;
}

.line_Professional{
  border-top: 1px solid hsl(235, 29%, 85%);
  width: 80%;
  opacity: 40%;
}

/* #basic:hover {
  padding: 25px 0 25px 0;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
} */
/*
#basic:hover > button {
  background-image: linear-gradient(to right, white, white);
  color: hsl(236, 72%, 79%);
}

#professional:hover {
  padding: 25px 0 25px 0;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}

#professional:hover > button {
    background-image: linear-gradient(to right, white, white);
    color: hsl(236, 72%, 79%);
  }


#master:hover {
  padding: 25px 0 25px 0;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}

#master:hover > button {
    background-image: linear-gradient(to right, white, white);
    color: hsl(236, 72%, 79%);
  } */
